.container {
  width: 500px;
  padding: 10px;
  background-color: rgba(0, 0, 255, 0.2);
  border: 1px solid blue;
}

.container:hover {
  background-color: blue;
  color: white;
}

h1 {
  font-size: 17px;
}
