table,
th,
td {
  border: 1px solid gray; /* 표의 테두리 - 1px 회색 실선 */
  border-collapse: collapse; /* 표 테두리와 셀 테두리 합치기 */
}

th,
td {
  width: 120px; /* 셀 너비 */
  padding: 5px; /* 셀 패딩(테두리와 내용 사이의 여백) */
}

th {
  font-size: 15px;
  font-weight: bold;
}

caption {
  font-size: 22px;
}
