a:link {
  text-decoration: none;
}
nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
nav ul li {
  float: left;
  font-size: 1.5em;
  padding-left: 7px;
  margin-bottom: 20px;
  margin-right: 15px;
  border-left-width: 5px;
  border-left-color: #990066;
  border-left-style: solid;
}
section {
  clear: both;
}
section article {
  padding-left: 10px;
  margin-bottom: 10px;
  border-top: 1px #a6a6a6 dashed;
  border-bottom: 1px #a6a6a6 dashed;
}

footer p {
  text-align: center;
}
